<br>
<div class="container">
  <form>
    <div class="row">
      <div class="col">
        <input class="form-control" id="Limite" placeholder="Limite">
      </div>
      <div class="col">
        <input class="form-control" id="Texto" placeholder="Giphy" (keyup.enter)="pesquisarGiphy()">
      </div>
    </div>
    <br>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="button" class="btn btn-danger" (click)="pesquisarGiphy()">Buscar</button> 
      </div>
    </div>  
  </form>
</div>
